<!DOCTYPE html>
<html>
  <head>
    <title>Requestbin</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= content_tag :div, notice.html_safe, class: 'alert alert-success' if notice.present? %>
    <%= content_tag :div, alert.html_safe, class: 'alert alert-danger' if alert.present? %>

    <div class="container">
      <%= yield %>
    </div>
  </body>
</html>
