<p id="notice"><%= notice %></p>

<p>
  <strong>Headers:</strong>
  <%= @request.headers %>
</p>

<p>
  <strong>Body:</strong>
  <%= @request.body %>
</p>

<%= link_to 'Edit', edit_request_path(@request) %> |
<%= link_to 'Back', requests_path %>
